<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ca.abdevelopment.CompletedTasks</string>
	<key>ProgramArguments</key>
	<array>
		<string>osascript</string>
		<string>PATH-TO/Percentage of completed tasks.scpt</string>
	</array>
	<key>StandardOutPath</key>
	<string>PATH-TO/Completed Tasks.csv</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
